{% extends 'base.html.twig' %}

{% block title %}
All Programs
{% endblock %}

{% block body %}

<h1>All programs</h1>

{% for program in programs %}
<div>
	<h2>{{ loop.index }} / {{ program.title }} - Category: {{ program.category.name }} </h2>
	<p>{{ program.synopsis }}</p>
	<a href={{ path("program_show", {id: program.id}) }}>See more</a>
</div>
{% else %}
<h2>No TV Shows Found</h2>
{% endfor %}

{% endblock %}