{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{ program.title }}</h1>
        <p>{{ program.synopsis }}</p>
        <p>Catégorie : {{ program.category.name }}</p>
    </div>
</div>

<ul>
    {% for season in seasons %}

    <li>
        <h2>Season {{season.number}}</h2>
    </li>

    <ul>

        {% for episode in season.episodes %}

        <li>
            <h4>{{episode.title}}</h4>
            <p>{{episode.synopsis}}</p>
        </li>

        {% endfor %}

    </ul>

    {% endfor %}
</ul>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}